html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 2px;
  padding: 2px;
  font-family: "Poppins", sans-serif;
}
.background {
  height: 100%;
  background-color: #141820;
}

.container {
  padding: 2.5% 10%;
  margin: 0 auto;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.596);
}

button {
  margin-right: 3px;
}
.whiteForm {
  padding: 1rem;
  background-color: #21252d;
  border-radius: 5px;
}
mat-form-field {
  width: 100%;
  margin: 2.5%;
}
.envoyer {
  padding: 2.5%;
}
button {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 900;

  width: 200px !important;
  min-width: unset !important;
}
.titlell {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.596);
  text-decoration: underline;
}
